.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0 80px;
}

.cart-container {
  width: 100%;
  height: 100%;
  background-color: #ff99004d;
  padding: 80px 20px;
}

@media only screen and (max-width: 640px) {
  .shop-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
